.img {
    width: 300px;
    position: absolute;
    object-fit: cover;
    inset: 0;
}

img {
    width: 100vw;
    height: 100vh;


}

body {
    margin: 0;
}

.carousel {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.carousel>ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

button {
    position: absolute;
    z-index: 1;
    top: 50%;
    background: rgba(0, 0, 0, 0.1);
    border: none;
    color: rgba(245, 245, 245, 0.8);
    font-size: 15px;
    border-radius: 10px;

}

ul,
li {
    padding: 0px;
    margin: 0px;
    margin-bottom: 0;
    padding-bottom: 0;

}

.foward {
    position: absolute;
    z-index: 1;
    top: 50%;
    background: rgba(0, 0, 0, 0.2);
    border: none;
    color: rgba(245, 245, 245, 0.8);
    right: 10px;
    height: 50px;
    width: 30px;

}

.backward {
    position: absolute;
    z-index: 1;
    top: 50%;
    background: rgba(0, 0, 0, 0.2);
    border: none;
    color: rgba(234, 228, 228, 0.882);
    left: 10px;
    height: 50px;
    width: 30px;

}

button:hover,
button:focus {
    position: absolute;
    z-index: 1;
    top: 50%;
    background: rgba(0, 0, 0, 0.6);
    border: none;
    color: white;
    height: 50px;
    width: 30px;
    outline: white 2px;
}
button:focus {
    position: absolute;
    z-index: 1;
    top: 50%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    height: 50px;
    width: 30px;
    border: white 8px;


}